body {
    padding: 1em 2em 1em 2em;
}
h1,h2 {
    font-family: sans-serif;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.2em;
}
pre {
    font-family: Liberation Mono, Courier New, monospace;
    font-size: .7em;
}
p {
    font-family: Liberation, Times New Roman, serif;
}

